SkyDrive/NLP/sudsWorks/Source Code/OpinionWorks.WSDL

<wsdl:definitions xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:tns="rpclib.examples.hello.soap" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:senc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s12env="http://www.w3.org/2003/05/soap-envelope/" xmlns:s12enc="http://www.w3.org/2003/05/soap-encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:senv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="rpclib.examples.hello.soap" name="Application">
<wsdl:types>
<xs:schema targetNamespace="rpclib.examples.hello.soap" elementFormDefault="qualified">
<xs:complexType name="opinionAssesmentRequestResponse">
<xs:sequence>
<xs:element name="opinionAssesmentRequestResult" type="tns:stringArray" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="stringArray">
<xs:sequence>
<xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="opinionAssesmentRequest">
<xs:sequence>
<xs:element name="AO_sDocument" type="xs:string" minOccurs="0" nillable="true"/>
</xs:sequence>
</xs:complexType>
<xs:element name="opinionAssesmentRequest" type="tns:opinionAssesmentRequest"/>
<xs:element name="stringArray" type="tns:stringArray"/>
<xs:element name="opinionAssesmentRequestResponse" type="tns:opinionAssesmentRequestResponse"/>
</xs:schema>
</wsdl:types>
<wsdl:message name="opinionAssesmentRequest">
<wsdl:part name="opinionAssesmentRequest" element="tns:opinionAssesmentRequest"/>
</wsdl:message>
<wsdl:message name="opinionAssesmentRequestResponse">
<wsdl:part name="opinionAssesmentRequestResponse" element="tns:opinionAssesmentRequestResponse"/>
</wsdl:message>
<wsdl:service name="opinionAnalisys_Service">
<wsdl:port name="Application" binding="tns:Application">
<soap:address location="http://localhost:7789/?wsdl"/>
</wsdl:port>
</wsdl:service>
<wsdl:portType name="Application">
<wsdl:operation name="opinionAssesmentRequest" parameterOrder="opinionAssesmentRequest">
<wsdl:input name="opinionAssesmentRequest" message="tns:opinionAssesmentRequest"/>
<wsdl:output name="opinionAssesmentRequestResponse" message="tns:opinionAssesmentRequestResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="Application" type="tns:Application">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="opinionAssesmentRequest">
<soap:operation soapAction="opinionAssesmentRequest" style="document"/>
<wsdl:input name="opinionAssesmentRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="opinionAssesmentRequestResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
</wsdl:definitions>